# ref https://flask.palletsprojects.com/en/2.3.x/changes/ for information
Flask==2.2.5
Flask-SQLAlchemy==3.0.2
Flask-Login==0.6.2
Flask-moment==1.0.5
mysql-connector-python==8.0.33
Flask-Excel==0.0.7
pyexcel-xlsx==0.6.0
Werkzeug==2.3.0
watchdog==6.0.0
flask-simple-captcha==5.5.5
psutil==5.9.0