Flask==1.0.2
Flask-Migrate==2.0.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-Login
Flask-moment
itsdangerous==1.1.0
Jinja2==2.10
Werkzeug==0.14.1
MySQL-connector-python
Flask-Excel
SQLAlchemy<1.4
markupsafe==2.0.1